---
interface Props {
	title: string;
	description?: string;
}

const { title, description = "Join $LUCA on his journey from sad to happy! A community-driven memecoin with no complicated tokenomics." } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/luca/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap" rel="stylesheet">
		<link href="https://api.fontshare.com/v2/css?f[]=player-2@400&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
	</head>
	<body>
		<main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
			<slot />
		</main>
	</body>
</html>

<style is:global>
	@import '../styles/global.css';
</style>
